extends index

block content
    h1='Sign up'
    form(method='POST')
        label="Name"
        input(name="name")
        label="Password"
        input(name="password")
        button(type='Submit')="Submit"